[AUTHOR]
NAME=Lenardo1
EMAIL=loxpanel@users.noreply.github.com

[PLUGIN]
# Nach dem ersten Release NIEMALS mehr NAME/FOLDER/AUTHOR aendern – LoxBerry
# identifiziert das Plugin darueber (sonst schlagen Updates fehl).
VERSION=0.2.2
NAME=loxpanel
FOLDER=loxpanel
TITLE=LoxPanel

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/Lenardo1/Loxpanel/main/loxberry-plugin/release.cfg

[SYSTEM]
# Reboot nach der Installation – falls Docker frisch installiert wurde.
REBOOT=true
# Interface V2 (aktuelles LoxBerry-Plugin-Format).
INTERFACE=2.0
# Mindestens LoxBerry 3.0 (Docker-Unterstuetzung / Debian Bullseye+).
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
# LoxPanel-Image ist multi-arch (siehe GitHub-Action): ARM64 (Pi 4/5), x86_64,
# ARMv7 (Pi 3). PUT in QUOTES.
ARCHITECTURE="aarch64,x86_64,armhf"
CUSTOM_LOGLEVELS=true
