[AUTOUPDATE]
# Wird von LoxBerry bei aktivem Auto-Update mit der installierten Version
# verglichen. Ist VERSION hier neuer, laedt LoxBerry das ZIP von ARCHIVEURL
# und installiert es. Beide bei jedem Release gemeinsam hochzaehlen.
VERSION=0.2.2
ARCHIVEURL=https://github.com/Lenardo1/Loxpanel/releases/latest/download/loxpanel-plugin.zip
