[AUTHOR]
# NIEMALS nach dem ersten Release aendern - LoxBerry identifiziert das Plugin darueber.
NAME=Lenardo1
EMAIL=lenardo@aon.at

[PLUGIN]
VERSION=0.1.0
# Technischer Name (lowercase, keine Leerzeichen) - fuer Skriptnamen in daemon/ und cron/.
NAME=loxpanel
# Bevorzugter Installationsordner. Skripte muessen den echten Ordner zur Laufzeit aus
# /data/system/plugindatabase.dat lesen (kann bei Kollision loxpanel01, loxpanel02 ... werden).
FOLDER=loxpanel
# Anzeigename, max. 25 Zeichen.
TITLE=LoxPanel

[AUTOUPDATE]
AUTOMATIC_UPDATES=false
RELEASECFG=
PRERELEASECFG=

[SYSTEM]
REBOOT=false
# TODO: an die Ziel-LoxBerry-Version anpassen (aktuelle Stable ist 3.x).
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
ARCHITECTURE=""
CUSTOM_LOGLEVELS=true
INTERFACE=2.0
